.altfetureimg{
    margin-left: 120px;
}
.altitem1{
    height: 101px;
    width: 332px;
    margin-left: 350px;
    margin-top: 35px;
    i{
        font-size: 44px;
        margin-top: 20px;
        color: #4154f1;
    }
    h4{
        font-size: 20px;
        margin-left: 50px;
        margin-top: -40px;
    }
    p{
        font-size: 15px;
        margin-left: 50px;
    }
}
.altitem2{
    height: 101px;
    width: 332px;
    margin-left: 750px;
    margin-top: -90px;
    i{
        font-size: 34px;
        margin-top: 20px;
        color: #4154f1;
    }
    h4{
        font-size: 20px;
        margin-left: 50px;
        margin-top: -40px;
    }
    p{
        font-size: 15px;
        margin-left: 50px;
    }
}