.footernews{
    height: 150px;
    width: 700px;
    background-color: #ddd;
    margin-left: 170px;
    h4{
    color: rgb(1, 41, 112);
    font-size: 24px;
    margin-left:250px;
    }
    p{
        text-align: center;
    }
    .input{
        width: 350px;
        margin-left: 100px;
    }
    .inputbutton{
        width: 150px;
        margin-left: 350px;
        margin-top: -38px;
    }
}