.item1{
    height: 300px;
    width: 350px;
    background-color: #ddd;
    margin-top: 20px;
}
.item2{
    height: 300px;
    width: 350px;
    background-color: #ddd;
    margin-top: 40px;
}
.item3{
    height: 300px;
    width: 350px;
    background-color: #ddd;
    margin-top: 40px;
}
.item4{
    height: 300px;
    width: 350px;
    background-color: #ddd;
    margin-top: 20px;
}
.item5{
    height: 300px;
    width: 350px;
    background-color: #ddd;
    margin-top: 40px;
}
.item6{
    height: 300px;
    width: 350px;
    background-color: #ddd;
    margin-top: 40px;
}
.item7{
    height: 300px;
    width: 350px;
    background-color: #ddd;
    margin-top: 20px;
}
.item8{
    height: 300px;
    width:350px;
    background-color: #ddd;
    margin-top: 40px;
}
.item9{
    height: 300px;
    width: 350px;
    background-color: #ddd;
    margin-top: 40px;
}