*{
    list-style: none;
}
.pricingitem1{
    height: 500px;
    width: 250px;
    background-color: #f4f2f2;
    padding: 20px ;
    h3{
        font-size: 20px;
        color: rgb(32, 201, 151);
        margin-left: 70px;
        margin-top: 20px;
    }
    .price{
        margin-left: 70px;
        font-size: 34px;
        sup{
            font-size: 20px;
        }
        span{
            font-size: 18px;
        }
    }
    .icon{
        i{
            font-size: 80px;
            color: rgb(32, 201, 151);
            margin-left: 70px;
            margin-top: 30px;
        }
    }
    ul{
        margin-left: -40px;
        margin-top: 20px;
        line-height: 1.6;
        text-align: center;
    }
    button{
        button{
            color: rgb(65, 84, 241);
        }
        border-radius: 40px;
        margin-left: 30px;
        margin-top: 20px;
        width: 150px;
    }
}
.pricingitem2{
    height: 500px;
    width: 250px;
    background-color: #f4f2f2;
    padding: 20px ;
    h3{
        font-size: 20px;
        color: rgb(13, 202, 240);
        margin-left: 60px;
        margin-top: 20px;
    }
    .price{
        margin-left: 60px;
        font-size: 34px;
        sup{
            font-size: 20px;
        }
        span{
            font-size: 18px;
        }
    }
    .icon{
        i{
            font-size: 80px;
            color: rgb(13, 202, 240);
            margin-left: 70px;
            margin-top: 30px;
        }
    }
    ul{
        margin-left: -40px;
        margin-top: 20px;
        line-height: 1.6;
        text-align: center;
    }
    button{
        button{
            color: rgb(65, 84, 241);
        }
        border-radius: 40px;
        margin-left: 30px;
        margin-top: 20px;
        width: 150px;
    }
}
.pricingitem3{
    height: 500px;
    width: 250px;
    background-color: #f4f2f2;
    padding: 20px ;
    h3{
        font-size: 20px;
        color: rgb(253, 126, 20);
        margin-left: 70px;
        margin-top: 20px;
    }
    .price{
        margin-left: 70px;
        font-size: 34px;
        sup{
            font-size: 20px;
        }
        span{
            font-size: 18px;
        }
    }
    .icon{
        i{
            font-size: 80px;
            color: rgb(253, 126, 20);
            margin-left: 70px;
            margin-top: 30px;
        }
    }
    ul{
        margin-left: -40px;
        margin-top: 20px;
        line-height: 1.6;
        text-align: center;
    }
    button{
        button{
            color: rgb(65, 84, 241);
        }
        border-radius: 40px;
        margin-left: 30px;
        margin-top: 20px;
        width: 150px;
    }
}
.pricingitem4{
    height: 500px;
    width: 250px;
    background-color: #f4f2f2;
    padding: 20px ;
    h3{
        font-size: 20px;
        color: rgb(13, 110, 253);
        margin-left: 50px;
        margin-top: 20px;
    }
    .price{
        margin-left: 60px;
        font-size: 34px;
        sup{
            font-size: 20px;
        }
        span{
            font-size: 18px;
        }
    }
    .icon{
        i{
            font-size: 80px;
            color: rgb(13, 110, 253);
            margin-left: 60px;
            margin-top: 30px;
        }
    }
    ul{
        margin-left: -40px;
        margin-top: 20px;
        line-height: 1.6;
        text-align: center;
    }
    button{
        button{
            color: rgb(65, 84, 241);
        }
        border-radius: 40px;
        margin-left: 30px;
        margin-top: 20px;
        width: 150px;
    }
}