.box1{
    height: 300px;
    width: 350px;
    margin-top: 20px;
    padding: 30px;
    background-color: #ddd;
    i{
        font-size: 36px;
        margin-left: 120px;
        color: rgb(13, 202, 240);
    }
    h3{
        font-size: 24px;
        color: rgb(1, 41, 112);
        font-family: Nunito, sans-serif;
        margin-left: 60px;
        margin-top: 10px;
    }
    font-size: 16px;
    a{
        position: relative;
        i{
            margin-left: 60px;
            position: absolute;
            top: -7px;
        }
        span{
            color: rgb(13, 202, 240);
            font-size: 20px;
            margin-left: 55px;
            margin-top: -10px;
        }
    }
}

.box2{
    height: 300px;
    width: 350px;
    margin-top: 50px;
    padding: 30px;
    background-color: #ddd;
    i{
        font-size: 36px;
        margin-left: 120px;
        color: rgb(223, 21, 41);
    }
    h3{
        font-size: 24px;
        color: rgb(1, 41, 112);
        font-family: Nunito, sans-serif;
        margin-left: 30px;
        margin-top: 10px;
    }
    font-size: 16px;
    a{
        position: relative;
        i{
            margin-left: 60px;
            position: absolute;
            top: -7px;
        }
        span{
            color: rgb(223, 21, 41);
            font-size: 20px;
            margin-left: 55px;
            margin-top: -10px;
        }
    }
}
.box3{
    height: 300px;
    width: 350px;
    margin-top: 20px;
    padding: 30px;
    background-color: #ddd;
    i{
        font-size: 36px;
        margin-left: 120px;
        color: rgb(253, 126, 20);
    }
    h3{
        font-size: 24px;
        color: rgb(1, 41, 112);
        font-family: Nunito, sans-serif;
        margin-left: 60px;
        margin-top: 10px;
    }
    font-size: 16px;
    a{
        position: relative;
        i{
            margin-left: 60px;
            position: absolute;
            top: -7px;
        }
        span{
            color: rgb(253, 126, 20);
            font-size: 20px;
            margin-left: 55px;
            margin-top: -10px;
        }
    }
}

.box4{
    height: 300px;
    width: 350px;
    margin-top: 50px;
    padding: 30px;
    background-color: #ddd;
    i{
        font-size: 36px;
        margin-left: 120px;
        color: rgb(102, 16, 242);
    }
    h3{
        font-size: 24px;
        color: rgb(1, 41, 112);
        font-family: Nunito, sans-serif;
        margin-left: 40px;
        margin-top: 10px;
    }
    font-size: 16px;
    a{
        position: relative;
        i{
            margin-left: 60px;
            position: absolute;
            top: -7px;
        }
        span{
            color: rgb(102, 16, 242);
            font-size: 20px;
            margin-left: 55px;
            top: 10px;
        }
    }
}
.box5{
    height: 300px;
    width: 350px;
    margin-top: 20px;
    padding: 30px;
    background-color: #ddd;
    i{
        font-size: 36px;
        margin-left: 120px;
        color: rgb(32, 201, 151);
    }
    h3{
        font-size: 24px;
        color: rgb(1, 41, 112);
        font-family: Nunito, sans-serif;
        margin-left: 60px;
        margin-top: 10px;
    }
    font-size: 16px;
    a{
        position: relative;
        i{
            margin-left: 60px;
            position: absolute;
            top: -7px;
        }
        span{
            color: rgb(32, 201, 151);
            font-size: 20px;
            margin-left: 55px;
            margin-top: -10px;
        }
    }
}

.box6{
    height: 300px;
    width: 350px;
    margin-top: 50px;
    padding: 30px;
    background-color: #ddd;
    i{
        font-size: 36px;
        margin-left: 120px;
        color: rgb(243, 38, 140);
    }
    h3{
        font-size: 24px;
        color: rgb(1, 41, 112);
        font-family: Nunito, sans-serif;
        margin-left: 50px;
        margin-top: 10px;
    }
    font-size: 16px;
    a{
        position: relative;
        i{
            margin-left: 60px;
            position: absolute;
            top: -7px;
        }
        span{
            color: rgb(243, 38, 140);
            font-size: 20px;
            margin-left: 55px;
            margin-top: -10px;
        }
    }
}