.statitem1{
    height: 120px;
    width: 250px;
    padding: 30px;
    background-color: #cbcbd1;
    margin-left: -60px;
    i{
        font-size: 42px;
        color: #4154f1;
    }
    span{
        font-size: 36px;
        color: #012970;
    }
    p{
        font-size: 18px;
        margin-left: 40px;

    }
}
.statitem2{
    height: 120px;
    width: 250px;
    padding: 30px;
    background-color: #cbcbd1;
    margin-left: -20px;
    i{
        font-size: 42px;
        color: #ee6c20;
    }
    span{
        font-size: 36px;
    }
    p{
        font-size: 18px;
        margin-left: 35px;
    }
}
.statitem3{
    height: 120px;
    width: 250px;
    padding: 30px;
    background-color: #cbcbd1;
    margin-left: 10px;
    i{
        font-size: 42px;
        color: #15be56;
    }
    span{
        font-size: 36px;
    }
    p{
        font-size: 18px;
        margin-left: 45px;
    }
}
.statitem4{
    height: 120px;
    width: 250px;
    padding: 30px;
    background-color: #cbcbd1;
    margin-left: 50px;
    i{
        font-size: 42px;
        color:#bb0852;
    
    }
    span{
        font-size: 36px;
    }
    p{
        font-size: 18px;
        margin-left: 60px;
    }
}