.member1{
    height: 550px;
    width: 250px;
    background-color: #f8f3f3;
}
.member1detail{
    padding: 20px;
    h4{
        font-size: 20;
        color: rgb(1, 41, 112);
        margin-top: -300px;
        margin-left: 30px;
    }
    span{
        font-size: 16px;
        margin-left: 20px;
        margin-top: 5px;
    }
    p{
        margin-top: 10px;
        font-size: 14px;
    }
}
.member2{
    height: 550px;
    width: 250px;
    background-color: #f8f3f3;
}
.member2detail{
    padding: 20px;
    h4{
        font-size: 20;
        color: rgb(1, 41, 112);
        margin-top: -300px;
        margin-left: 30px;
    }
    span{
        font-size: 16px;
        margin-left: 40px;
        margin-top: 5px;
    }
    p{
        margin-top: 10px;
        font-size: 14px;
    }
}
.member3{
    height: 550px;
    width: 250px;
    background-color: #f8f3f3;
}
.member3detail{
    padding: 20px;
    h4{
        font-size: 20px;
        color: rgb(1, 41, 112);
        margin-top: -300px;
        margin-left: 30px;
    }
    span{
        font-size: 16px;
        margin-left: 90px;
        margin-top: 5px;
    }
    p{
        margin-top: 10px;
        font-size: 14px;
    }
}
.member4{
    height: 550px;
    width: 250px;
    background-color: #f8f3f3;
}
.member4detail{
    padding: 20px;
    h4{
        font-size: 20;
        color: rgb(1, 41, 112);
        margin-top: -300px;
        margin-left: 20px;
    }
    span{
        font-size: 16px;
        margin-left: 60px;
        margin-top: 5px;
    }
    p{
        margin-top: 10px;
        font-size: 14px;
    }
}