$height:("herobg":930px, "sectiontitle":30px);


$width:("herobg":1700px, "sectiontitle":160px);


$bgclr:("content":#f6f6fe,"sectiontitle":#f6f6fe, "herobtnbutton":#4154f1, );


$color:("herobgimgh1":#012970,"herobgimgp":gray, "contenth3":#4154f1,"contenth2":#012970);

$padding:("content":15px,"sectiontitlet":5px, "sectitlept":15px);

$fontsize:("herogbh1":48px, "herogbp":20px,  "sectiontitleh2":18px, "sectitlep":30px);

$redius:("sectiontitle":30px);

$margin:()